.w-280 {
  width: 280px;
}

th {
  font-weight: 600;
}
.form-check .form-check-input {
  width: 20px;
  padding: 3px;
  height: 20px;
}
.full-audit {
  background: #7030a0;
  color: white !important;
}
.limited-audit {
  background: #5b9bd5;
  color: white !important;
}
.normal-text {
  width: 58px;
}

.min-w-300 {
  min-width: 300px;
}

.w-20 {
  width: 20px;
}

.w-95 {
  width: 95px;
}

.f-18 {
  font-size: 18px;
}
