.dashboard-charts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
span {
  font-size: 12px;
}

p {
  font-size: 12px;
  margin-bottom: 0px;
}
.glassmorphism-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.glassmorphism-card .card-body {
  color: #000;
}

.primary {
  color: #0a7386;
}

.media-body h3,
.media-body span {
  color: #000;
}

.media-body {
  text-align: right;
}

.align-self-center {
  margin-right: 15px;
}
.glassmorphism-card- {
  background: #0a7386;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.glassmorphism-card- .card-body {
  color: #fff; /* Black text color */
}
.label {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  margin-right: 1em;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}

.high {
  background-color: #4472c4;
  color: white;
}

.medium {
  background-color: #ed7d31;
  color: white;
}
.yellow {
  background-color: #ffc61c;
  color: white;
}
.low {
  background-color: #a5a5a5;
  color: white;
}
.highh {
  background-color: #70ad47;
  color: white;
}
.mediumm {
  background-color: #5b9bd5;
  color: white;
}
.card-header {
  background: #0a7386;
  color: white;
}
.job-card {
  height: 240px;
  overflow-x: auto;
}

.dashboard-content-wrap {
  margin-left: -12px !important;
}

@media screen and (max-width: 1250px) {
  .dashboard-charts-wrapper {
    grid-template-columns: 1fr;
  }
}
