.row {
  margin-left: 900px;
}

#SideComponents {
  width: 76%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#SideComponentsFullWidth {
  width: 94%;
  height: 100%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#inputField {
  width: 100%;
  height: 63px;
  outline: none;
  border: none;
  background: rgb(240, 238, 238);
  padding: 0px 20px;
}

table {
  border-collapse: collapse;
}

th,
td {
  max-width: 220px;
}
