.row {
  margin-left: 900px;
}

#SideComponents {
  width: 76%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#SideComponentsFullWidth {
  width: 94%;
  height: 100%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

.form-check .form-check-input {
  width: 20px;
  padding: 3px;
  height: 20px;
}

.width-100 {
  width: 100px !important;
}
.w-18 {
  width: 18px;
}
