#SideComponents {
  width: 76%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#SideComponentsFullWidth {
  width: 94%;
  height: 100%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

.select-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 10px; */
}

.single-select-grid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 0px 10px;
}

.single-select-grid-part-1 {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.single-select-grid-part-1 p:nth-child(1) {
  background-color: black;
  color: white;
  padding: 9px 30px;
  margin-left: -10px;
  /* height: 100%; */
}

.single-select-grid-part-1 p {
  margin-top: 20px;
  align-items: flex-start;
}

.single-select-grid-part-2,
.single-select-grid-part-3 {
  background-color: white;
  margin-left: 50px;
  width: 100% !important;
}

.single-select-grid-part-2,
.single-select-grid-part-3 p {
  font-size: 12px;
}

.single-select-grid-part-2 {
  border-bottom: 1px solid gray;
}

.resource-allocation-select-wrap {
  background-color: white;
}
