.upload-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.upload-table table th,
table td {
  text-align: left;
}
.custom-file-input:lang(en)::after {
  content: "";
}
