.row {
  margin-left: 900px;
}

#SideComponents {
  width: 76%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#SideComponentsFullWidth {
  width: 94%;
  height: 100%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  margin-top: 7px;
}
.title {
  opacity: 0;
  animation: show 0.35s forwards ease-in-out 0.5s;
}
mat-card {
  overflow-x: auto;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kink-off {
  color: blue;
  cursor: pointer;
}

.audit-engagement-dialog {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  border-radius: 7px;
}
