.settings-form {
  height: 200px;
  border: 2px dashed #c7c7c7;
}
.settings-form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: black;
}
.settings-form input {
  height: 200px;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0px;
  right: 0px;
  outline: none;
  opacity: 0;
}
.settings-form button:hover {
  background: black;
  color: #0c5645;
}
.settings-form button:active {
  border: 0;
}

.active-settings-btn {
  background-color: #0a7386 !important;
  color: white !important;
}
