.add-btn:hover {
  color: white !important;
}

.select-auditee {
  background-color: white;
}

.trash-styles {
  font-size: 20px !important;
  margin-right: 10px !important;
}
.red {
  color: red !important;
}
